@model Cafeteria_Credit___Ordering_System.ViewModels.DepositViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="card shadow p-4">
    <h3>Deposit Funds</h3>
    <form asp-action="Deposit" method="post">
        <div class="mb-3">
            <label asp-for="EmployeeNumber" class="form-label"></label>
            <input asp-for="EmployeeNumber" class="form-control" />
            <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DepositAmount" class="form-label"></label>
            <input asp-for="DepositAmount" class="form-control" />
            <span asp-validation-for="DepositAmount" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>