@model IEnumerable<Employee>

<h2 class="mb-3">Employee Accounts</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Employee Number</th>
            <th>Balance</th>
            <th>Last Deposit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Name</td>
                <td>@emp.EmployeeNumber</td>
                <td>R @emp.balance</td>
                <td>@emp.lastDepositMonth.ToString("yyyy-MM")</td>
            </tr>
        }
    </tbody>
</table>