@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn abo <a href="https://learn.microsoft.com/aspnet/core">building </a>.</p>
</div>
